<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加车位</title>
    <script src="../JQuery/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="../layui/css/layui.css">
</head>
<body>
<form class="layui-form" action="" lay-filter="example">
    <div class="layui-form-item">
        <label class="layui-form-label">户型</label>
        <div class="layui-input-block">
            <select id="type" name="type" lay-verify="required" required>
                <option value=""></option>
                <option value="地下停车场">地下停车场</option>
                <option value="露天停车场">露天停车场</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">所在区域</label>
        <div class="layui-input-inline">
            <select id="parkingPosition" name="parkingPosition" lay-verify="" required>
                <option value="">请选择区域</option>
                <option value="A区">A区</option>
                <option value="B区">B区</option>
                <option value="C区">C区</option>
                <option value="D区">D区</option>
            </select>
        </div>
        <label class="layui-form-label">编号</label>
        <div class="layui-input-inline">
            <select id="number" name="number" lay-verify="" required>
                <option value="">请选择车位编号</option>
                <option value="1">01</option>
                <option value="2">02</option>
                <option value="3">03</option>
                <option value="4">04</option>
                <option value="5">05</option>
                <option value="6">06</option>
                <option value="7">07</option>
                <option value="8">08</option>
                <option value="9">09</option>
                <option value="10">10</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">当前状态</label>
        <div class="layui-input-block">
            <select id="status" name="status" lay-verify="required" required>
                <option value="">请选择当前状态</option>
                <option value="已出租">已出租</option>
                <option value="空闲">空闲</option>
                <option value="维护中">维护中</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">每月租金</label>
        <div class="layui-input-block">
            <input id="cost" type="number" name="cost" required lay-verify="cost" autocomplete="off" class="layui-input" placeholder="请输入每月租金">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block" style="width: 75%">
            <button type="submit" class="layui-btn" lay-submit="" lay-filter="sumbit">确认提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
<script type="text/javascript" src="../layui/layui.all.js"></script>
<script>
    //Demo
    layui.use('form', function () {
        var form = layui.form;
        form.on('submit(sumbit)', function (data) {
            var index = layer.load(1);
            var data = data.field;
            $.ajax({
                url: "add",
                type: "post",
                data: data,
                success: function (result) {
                    layer.close(index);
                    if (result == 1) {
                        layer.msg("发布成功",{
                            icon: 1,
                            time: 1000,
                            end: function () {
                                window.parent.location.reload();
                                var index = parent.layer.getFrameIndex(window.name);
                                parent.layer.close(index);
                            }
                        });
                    }
                    else if(result == 2){
                        layer.close(index);
                        layer.msg("该区此车位已存在", {icon: 2})
                    }
                }, error: function (err) {
                    layer.close(index);
                    layer.msg("出现错误")
                }
            })
            return false;
        });
    });
</script>
</body>
</html>